<div class="container">
  <h3>Users <a href="/user/new" class="btn btn-primary pull-right">Create a user</a></h3>
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>

    <% _.each(users, function(user) { %>
      <tr data-id="<%= user.id %>" data-model="user">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a></td>
        <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a></td>
      </tr>
    <% }) %>
  </table>
</div>