<div class="container-fluid">
  <h3>Your Links
    <a href="/link/new" class="pull-right btn btn-primary">Add new link</a>
  </h3>

  <div class="row-fluid">
    <div class="span12">
      <i>To remove the UTM links on the destination page after the tracking information has been captured by your analytics provider, check this out: <a href="https://github.com/wistia/fresh-url">https://github.com/wistia/fresh-url</a></i><br>
      <i>To track social sharing by copy and pasting URL from address bar: <a href="http://www.lunametrics.com/blog/2013/10/02/direct-monster-fix-dark-social">http://www.lunametrics.com/blog/2013/10/02/direct-monster-fix-dark-social</a>
    </div>
  </div>

  <div class="btm-mgn-20"></div>

  <div class="row-fluid">
    <div class="span12">

      <table class="table">
        <tr>
          <th>Campaign Name</th>
          <th>Unique Clicks</th>
          <th>Total Clicks</th>
          <th>Destination URL</th>
          <th>Campaign Medium</th>
          <th>Campaign Source</th>
          <th>Campaign Term</th>
          <th>Content Location</th>
          <th>Sharing Link</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <% _.each(links, function(link) { %>
          <tr data-id="<%= link.id %>" data-model="link">
            <td><%= link.utmCampaign %></td>
            <td><%= link.uniqueClicks %></td>
            <td><%= link.totalClicks %></td>
            <td><%= link.destinationUrl %></td>
            <td><%= link.utmMedium %></td>
            <td><%= link.utmSource %></td>
            <td><%= link.utmTerm %></td>
            <td><%= link.utmContent %></td>
            <td><%= link.shortLink() %></td>
            <td><a href="/link/edit/<%= link.id %>" class="btn btn-sm btn-warning">Edit</a></td>
            <td>
              <form action="/link/destroy/<%= link.id %>" method="POST">
                <input type="hidden" value="delete" name="_method">
                <input type="hidden" value="<%= _csrf %>" name="_csrf">
                <input type="submit" class="btn btn-sm btn-danger" value="Delete">
              </form>
            </td>
          </tr>
        <% }) %>
      </table>
    </div>
  </div>

</div>